<%- include('header'); -%>

    <div class="box" id="heading">
        <h1>
            <%= listTitle %>
        </h1>
    </div>

    <div class="box">

        <% for(let i = 0; i < newElement.length; i++) { %>
            <div class="item">
                <input type="checkbox">
                <p>
                    <%= newElement[i] %>
                </p>

            </div>

            <% } %>

                <form class="item" action="/" method="post">
                    <input type="text" placeholder="New Item" name="toDo" autocomplete="off">
                    <pre><button type="submit" name="list" value=<%= listTitle %>>+</button></pre>
                </form>

    </div>

    <%- include('footer'); -%>